@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #7A3B69;
    --secondar-color: #8A6183;
    --selection-text: #EEEEEE;
    --light-color: #EEEEEE;
    --dark-color: #121212;
    --slight-dark-color: #545454;
    --container-bg: #E3E3E3;
    --container-border: #CECECE;
    --font-family: "Inter";
    --font-size: 17px;
    --line-height: 28px;
    --letter-spacing: 0.15px;
    --h1-font-size: calc(var(--font-size) * 2);
    --h2-font-size: calc(var(--font-size) * 1.75);
    --h3-font-size: calc(var(--font-size) * 1.5);
    --border-radius: 10px;
    --inner-border-radius: 5px;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--container-bg);
    border-left: solid 1px var(--container-border);
}

::-webkit-scrollbar-thumb {
    background-color: var(--container-border);
}

::selection {
    background-color: var(--primary-color);
    color: var(--selection-text);
}

* {
    cursor: default;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer !important;
}

a svg,
a svg path {
    cursor: pointer !important;
}

body {
    padding: 0px;
    margin: 0px;
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    background-color: var(--light-color);
    color: var(--dark-color);
}

body.darkmode {
    /* Ignore the names :P */
    --light-color: #121212;
    --dark-color: #EEEEEE;
    --slight-dark-color: #B9B9B9;
    --container-bg: #1D1D1D;
    --container-border: #323232;
}

header {
    column-gap: 10px;
    height: 80px;
    padding: 15px;
    justify-content: space-between !important;
    background-color: var(--container-bg);
    border-bottom: solid 1px var(--container-border);
}

footer {
    height: 50px;
    color: var(--slight-dark-color);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--container-bg);
    text-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

footer {
    border-top: solid 1px var(--container-border);
}

footer.centered {
    max-width: 800px;
    border: solid 1px var(--container-border);
    border-radius: var(--border-radius);
    margin: 15px auto 30px auto;
}

footer::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

footer::-webkit-scrollbar-track {
    background-color: transparent;
}

nav,
section#sitetitle,
section#buttons {
    width: fit-content;
}

a#menutoggler {
    display: none;
}

section#sitetitle {
    column-gap: 15px;
}

div#siteicon {
    background-image: url("/assets/images/harddisk.png");
    background-repeat: no-repeat;
    background-size: 35.78px 42px;
    background-position: center center;
    width: 35.78px;
    height: 42px;
    border-radius: var(--inner-border-radius);
}

section#intro {
    min-height: 450px;
    height: calc(100vh - 130px);
}

section#intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#intro-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    box-sizing: border-box;
    text-align: center;
    width: fit-content;
    padding-bottom: 30px;
}

div#general-cat {
    background-image: url("/assets/images/general_cat.png");
    background-repeat: no-repeat;
    background-size: 140px 140px;
    background-position: center center;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin: auto;
}

section#intro p {
    max-width: 570px;
    margin: auto;
}

div#socials a {
    background-color: var(--container-bg);
}

section .pageheader {
    max-width: 800px;
    margin: 30px auto 0px auto;
    text-align: center;
}

#techstackgrid,
#projectgrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    margin: auto;
}

.techstacksection,
.project {
    width: 392.5px;
    flex-direction: column;
    row-gap: 15px;
}

.techstacksection {
    display: flex;
    row-gap: 15px;
}

.project,
.projectlinks,
.project p {
    display: flex;
}

.project p {
    flex: 1;
}

.project p,
.project h3 {
    margin: 0px;
}

.projectlinks {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
}

.projectlinks a.btn {
    border-radius: var(--inner-border-radius) !important;
}

.techstacklist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 7.5px;
    row-gap: 7.5px;
}

.techstacklist span {
    display: inline-block;
    padding: 5px 10px;
    color: var(--dark-color) !important;
    border-radius: var(--inner-border-radius) !important;
    background-color: var(--light-color) !important;
}

.centered {
    max-width: 800px;
    margin: auto;
}

.btn {
    border: solid 1px var(--container-border);
    border-radius: var(--border-radius);
    color: var(--dark-color);
    padding: 10px 15px;
    min-width: 48px;
    height: 48px;
}

.container {
    background-color: var(--container-bg);
    border: solid 1px var(--container-border);
    border-radius: var(--border-radius);
    color: var(--slight-dark-color);
    padding: 15px;
    box-sizing: border-box;
}

svg.icon {
    margin: 1px 0px;
    width: 16px;
    height: 16px;
}

svg.icon path {
    fill: var(--dark-color);
}

header,
section#sitetitle,
section#buttons,
nav,
.btn,
div#controls,
div#socials,
div#socials a,
svg.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

section#buttons,
nav,
.btn,
div#controls,
div#socials,
div#socials a {
    column-gap: 10px;
}

nav a,
div#controls a,
.projectlinks a.btn {
    background-color: var(--light-color);
}

p {
    margin: 15px 0px;
    padding: 0px;
}

h1 {
    font-size: var(--h1-font-size);
    line-height: 42px;
}

h2 {
    font-size: var(--h2-font-size);
    line-height: 36px;
}

h1,
h2,
h3 {
    margin: 0px;
}

@media only screen and (max-width: 830px) {
    section .pageheader {
        margin: 30px 15px 0px 15px;
        text-align: center;
    }

    #techstackgrid,
    #projectgrid {
        margin: 0px 15px;
    }

    .techstacksection,
    .project {
        width: calc(100% / 2 - 7.5px);
    }

    .centered {
        margin: 0px 15px;
    }

    footer.centered {
        margin: 15px 15px 30px 15px !important;
    }
}

@media only screen and (max-width: 785px) {
    section#buttons {
        position: relative;
    }

    a#menutoggler {
        display: flex;
    }

    nav {
        display: none;
        position: absolute;
        top: 63px;
        right: 0px;
        background-color: var(--container-bg);
        border: solid 1px var(--container-border);
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        color: var(--dark-color);
        flex-direction: column;
        row-gap: 10px;
        padding: 15px;
        box-sizing: border-box;
    }

    nav .btn {
        width: 100%;
        justify-content: start;
        border-radius: var(--inner-border-radius);
    }
}

@media only screen and (max-width: 600px) {
    section#intro p {
        margin: 0px 15px;
    }
}

@media only screen and (max-width: 678px) {
    .project {
        width: 100%;
    }
}

@media only screen and (max-width: 578px) {
    .techstacksection {
        width: 100%;
    }
}