@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-color: #f17f29;
  --light-color: #eeeeee;
  --gray-color: #545454;
  --dark-color: #1f1f1f;
  --container-bg: #e3e3e3;
  --border-color: #cecece;
  --font-family: "Inter";
  --font-size: 17px;
  --line-height: 26px;
  --letter-spacing: 0.15px;
  --width: 686px;
  --spacing: 20px;
}

::selection {
  background-color: var(--primary-color);
  color: #fdfeff;
}

body.darkmode {
  /* accurate color names :P */
  --light-color: #1f1f1f;
  --gray-color: #b9b9b9;
  --dark-color: #eeeeee;
  --container-bg: #272727;
  --border-color: #323232;
}

body {
  padding: 0;
  margin: 0;
  color: var(--dark-color);
  background-color: var(--light-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

p {
  margin: 0;
  padding: 0;
}

h3 {
  padding: 0;
  margin: 0;
  font-weight: 650;
}

hr {
  width: var(--width);
  margin: auto;
  border: 0px;
  border-top: solid 1px var(--border-color);
  border-radius: 10px;
}

header,
section#hero,
section#projects > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header button,
section#hero div#hero-wrapper,
section#hero div#hero-wrapper div#hero-links,
section#hero div#hero-wrapper div#hero-links a,
section#projects div#projectsgrid div.project a,
section#projects > div a {
  display: flex;
  align-items: center;
  justify-content: center;
}

section#about,
section#projects {
  padding: 40px 0px;
  box-sizing: border-box;
}

header {
  background-color: var(--container-bg);
  border: solid 1px var(--border-color);
  border-top: 0;
  width: calc(var(--width) + 40px);
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

header h2 {
  margin: 0;
  padding: 0;
  user-select: none;
  line-height: 34px;
  letter-spacing: -1px;
  font-weight: 650;
  font-size: 27px;
}

header h2 a {
  color: inherit;
  text-decoration: none;
}

header button {
  border: 0;
  background-color: transparent;
  color: var(--dark-color);
  cursor: pointer;
}

img#general-cat {
  width: 144px;
  height: 144px;
  border-radius: 10px;
}

section#hero {
  width: var(--width);
  column-gap: 20px;
  margin: auto;
  padding: 40px 0px;
  box-sizing: border-box;
}

section#hero div#hero-wrapper {
  width: 440px;
  flex-direction: column;
  align-items: start !important;
  row-gap: 20px;
}

section#hero div#hero-wrapper div#hero-links {
  display: flex;
  align-items: end !important;
  flex-direction: row;
  column-gap: 10px;
  flex: 1;
}

section#hero div#hero-wrapper div#hero-links a {
  background-color: var(--container-bg);
  border: solid 1px var(--border-color);
  color: var(--gray-color);
  text-decoration: none;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  column-gap: 5px;
  height: 46px;
}

section#about {
  width: var(--width);
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

section#about ul#techlist {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

section#about ul#techlist li {
  color: var(--gray-color);
}

section#about ul#techlist li::marker,
section#about ul#techlist li b {
  color: var(--dark-color);
}

section#projects {
  width: var(--width);
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  margin: 0px auto 40px auto;
}

section#projects > div a {
  width: fit-content;
  column-gap: 5px;
  color: var(--gray-color);
  text-decoration: none;
}

section#projects div#projectsgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

section#projects div#projectsgrid div.project {
  background-color: var(--container-bg);
  border: solid 1px var(--border-color);
  color: var(--gray-color);
  width: calc((var(--width) - 10px) / 2);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

section#projects div#projectsgrid div.project a {
  justify-content: start !important;
  column-gap: 5px;
  color: var(--dark-color);
  text-decoration: none;
  font-weight: 650;
}

section#projects div#projectsgrid div.project p {
  height: 54px;
}

section#hero div#hero-wrapper div#hero-links a:hover,
section#projects div > a:hover,
section#projects div#projectsgrid div.project a:hover {
  text-decoration: underline;
}

div#notfound {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  text-align: center;
  padding: 80px 0px;
  box-sizing: border-box;
}

div#notfound h2 {
  margin: 0;
  padding: 0;
  line-height: 32px;
}

@media only screen and (max-width: 726px) {
  :root {
    --width: 100%;
  }

  header {
    border-left: 0;
    border-right: 0;
    border-radius: 0px;
    width: var(--width);
  }

  section#hero,
  section#about,
  section#projects {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 550px) {
  section#hero {
    flex-direction: column-reverse;
    row-gap: 20px;
  }

  section#hero div#hero-wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  section#hero div#hero-wrapper div#hero-links {
    align-self: center;
  }

  section#projects > div {
    align-items: start;
    flex-direction: column;
    row-gap: 10px;
  }

  section#projects div#projectsgrid div.project {
    width: var(--width);
  }
}

@media only screen and (max-width: 302px) {
  body {
    width: 302px;
    overflow: auto;
  }
}
